<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movenow">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoveNow"
        tools:targetApi="31">

        <!-- Activity inicial -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login y pantallas relacionadas -->
        <activity android:name=".LoginGoogleActivity" android:exported="false"/>
        <activity android:name=".FirstTimeLoginActivity" android:exported="false"/>
        <activity android:name=".VerifyEmailActivity" android:exported="false"/>
        <activity android:name=".LoginEmailActivity" android:exported="false"/>

        <!-- Main -->
        <activity android:name=".MainActivity" android:exported="true"/>

        <!-- Configuración -->
        <activity android:name=".SettingsActivity" android:exported="true"/>

        <!-- NO DECLARAR WORKERS AQUÍ -->
        <!-- NO RECEIVERS -->
        <!-- WorkManager maneja todo automático -->

    </application>

</manifest>
